@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #23242a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
  box-shadow: 0 0 10px #8884FF;
  padding: 20px;
}

.container h1 {
  position: relative;
  margin: 20px 0 55px;
  color: #8884FF;
}

.container h1::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #8884FF;
}

.fa-user {
  margin-right: 10px;
  color: #8884FF;
}

.fa-envelope,
.fa-lock {
  margin-right: 10px;
  font-size: 1.3rem;
}

.container input {
  width: 280px;
  padding: 10px 5px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 40px;
}


.container input::placeholder {
  color: #fff;
}

.container button {
  padding: 10px 40px;
  background-color: transparent;
  border: 2px solid #8884FF;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #8884FF;
  color: #23242a;
}

p {
  display: none;
}

.wrong-message {
  display: block;
  color: tomato;
  margin-top: -20px;
  margin-bottom: 20px;
}

button.login-btn {
  margin-top: 20px;
  padding: 10px 20px;
}

button.login-btn a {
  text-decoration: none;
}