<h1><i class="fa-solid fa-user"></i>Account Login</h1>
<form action="/" method="POST">
  <div>
    <label for="email"><i class="fa-solid fa-envelope"></i></label>
    <input type="email" name="email" id="email" placeholder="Email" required />
  </div>
  <div>
    <label for="password"><i class="fa-solid fa-lock"></i></label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
  </div>
  {{#if wrongMessage}}
    <p class="wrong-message">{{wrongMessage}}</p>
  {{/if}}
  <button type="submit">Sign In</button>
</form>